/* start styling header  */
.fixed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background: var(--bg_default);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px -2px 10px 0px var(--body-text_light);
}

header h1 {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--brand-primary);
  font-weight: 700;
  font-size: 1rem;
}

header nav ul {
  display: flex;
}

header nav ul li:first-child {
  margin-right: 5px;
}

@media (max-width: 700px) {
  .fixed-header {
    height: 66px;
  }
}
