.courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
  }
  
  .course {
    background: var(--bg_default);
    height: 280px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px var(--lines-color);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    flex-direction: column;
  }
  
  .courseInfo {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .category {
    font-size: 0.9rem;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 215px;
  }
  
  .topic {
    font-size: 0.95rem;
    font-weight: 800;
    min-height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.6;
  }
  
  .name {
    font-size: 0.8rem;
  }