.rightColCard {
  flex-basis: 36%;
  margin-top: 30px;
  background: var(--bg_default_light);
  height: fit-content;
  border: 2px solid var(--lines-color_light);
  box-shadow: 0px 0px 1px 0px var(--lines-color_light);

  display: flex;
  flex-direction: column;
}

.rightColCard h3,
.rightColCard p,
.rightColCard span {
  color: var(--body-text_light);
}
.rightColCard img {
  height: 180px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.courseInfo {
  flex-grow: 1;
  padding: 15px;
}
.courseInfo h3 {
  min-height: 30px;
}

.authorInfo {
  font-size: 0.9rem;
}

.courseInfo h3 span a {
  text-decoration: underline;
  color: var(--brand-primary);
}

.addFavourites {
  padding: 25px 20px 15px;
  border: 1px solid var(--lines-color_light);
}

.btnContainer {
  text-align: center;
}

.addFavourites p,
.btn-container p {
  font-size: 0.85rem;
}

.btnContainer button {
  padding: 15px 5px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  color: var(--body-text_dark);
  background: var(--brand-secondary);
  border: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.btnContainer button ion-icon {
  color: var(--body-text_dark);
  font-size: 1.6rem;
}

.addMyFavorites {
  color: var(--body-text_dark);
  font-size: 1.25rem;
}

/* _______________________________________________________________ */
/* ____________________    media query   _________________________*/
@media (max-width: 992px) {
  .btnContainer button {
    font-size: 1rem;
  }
}

@media (max-width: 880px) {
  .btnContainer button {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .btnContainer button {
    font-size: 1.2rem;
  }
}
